html {
  display: block;
}

/* body section*/
body {
  font-family: Verdana, sans-serif;
  text-align: center;
  background-color: black;
  color: antiquewhite;
  display: block;
  margin: 8px;
}

video {
  object-fit: contain;
}

h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

h1 {
  font-size: 50px;
  font-weight: normal;
}

.cta {
  color: Aquamarine;
  font-size: 16px;
}

h2 {
  font-size: 42px;
  font-weight: 300;
}
